<%= turbo_frame_tag quote do %>
  <div class="flex justify-between my-5">
    <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top"} %>
    <div class="flex gap-5">
      <%= button_to "Delete", quote_path(quote), method: :delete, class: "" %>
      <%= link_to "Edit", edit_quote_path(quote), class: "" %>
    </div>
  </div>
<% end %>