<main class="container mx-auto mt-20">
  <header class="flex gap-5 items-center">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
    <h1 class="text-3xl"><%= @quote.name %></h1>
  </header>
</main>